@import "./variables";
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $background;
}

.page-content {
  display: flex;
  min-height: 100vh;
  align-content: flex-start;
  flex: 1;
  padding: 1.75em;
  flex-flow: row wrap;
}
