* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.horizontal-menu {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-items: center;

  .horizontal-menu-items-container {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0.75em;

    .item-menu {
      padding: 1em;
      flex: 1;
    }

    &:visited {
      color: blue;
    }
  }
  .horizontal-menu-logo {
    width: 400px;
    align-self: center;
  }
}

.panel {
  display: flex;
  flex: 1;
  min-height: 1em;
  height: auto;
  flex-flow: column wrap;
  margin: 1em;
  flex-basis: 20%;

  .panel-header {
    padding: 0.75em;
    background-color: red;
  }
  .panel-body {
    padding: 0.75em;
    background-color: green;
  }
}

.page-content {
  display: flex;
  min-height: 100vh;
  flex: 1;
  padding: 1.75em;
  flex-flow: row wrap;
}
