@import "./variables";

//colors
$primary: $primary-color;
$dark: $dark-grey;
$body-background-color: $background;
$label-color: $dark-grey;
$title-color: $primary-color;
$info: $background;
$footer-background-color: $background;

$footer-padding: 0.3rem 0rem 0.3rem;

//fonts
$family-primary: $roboto;
$family-secundary: $roboto-condensed;

$navbar-background-color: $primary;
$navbar-item-color: white;
$navbar-item-hover-background-color: $primary-dark-color;
$navbar-item-hover-color: white;

$panel-shadow: $basic-shadow;

$panel-heading-padding: 0.5rem 0.75rem;
$panel-heading-radius: 6px;
$panel-heading-weight: 400;
$panel-heading-size: 1.1rem;

$panel-block-active-border-left-color: $dark-grey;

$link: $dark-grey;
$link-hover: black;

@import "bulma/bulma";

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
}

.section-logo {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ul.list-items {
  flex-grow: 1;

  @media screen and (min-width: 768px) {
    columns: 1;
  }

  @media screen and (min-width: $tablet) {
    columns: 2;
  }

  @media screen and (min-width: $desktop) {
    columns: 2;
  }

  @media screen and (min-width: $widescreen) {
    columns: 3;
  }
}

footer.footer {
  margin-top: 2rem;
}

div.drop-container {
  border: 1px dashed $dark-grey;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}

.cssload-container {
	width: 100%;
	height: 49px;
	text-align: center;
}

.cssload-speeding-wheel {
	width: 49px;
	height: 49px;
	margin: 0 auto;
	border: 3px solid rgb(42,169,163);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 575ms infinite linear;
		-o-animation: cssload-spin 575ms infinite linear;
		-ms-animation: cssload-spin 575ms infinite linear;
		-webkit-animation: cssload-spin 575ms infinite linear;
		-moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}